## Build Products
build/
out/
.gradle/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!gradle-wrapper.jar

# Log files
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws
*.iml

## Plugin-specific files:

# IntelliJ
/.nb-gradle/

# Any application config files (might contain secret keys for connecting to an MQTT Broker or Azure Event Hub
application.conf